In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [15]:
df1 = pd.read_csv("export_DemandaReal_2025-03-31_12_13.csv", sep = ";")
df2 = pd.read_csv("export_DemandaReal_2025-03-31_12_14.csv", sep = ";")
df3 = pd.read_csv("export_DemandaReal_2025-03-31_12_16.csv", sep = ";")
df4 = pd.read_csv("export_DemandaReal_2025-03-31_12_18.csv", sep = ";")

In [16]:
pd.concat([df1,df2,df3,df4], axis = 0)

,id,name,geoid,geoname,value,datetime
0,1293,Demanda real,NaN,NaN,24301.666667,2014-01-01T00:00:00+01:00
1,1293,Demanda real,NaN,NaN,23365.333333,2014-01-01T01:00:00+01:00
2,1293,Demanda real,NaN,NaN,21672.500000,2014-01-01T02:00:00+01:00
3,1293,Demanda real,NaN,NaN,20192.000000,2014-01-01T03:00:00+01:00
4,1293,Demanda real,NaN,NaN,19220.666667,2014-01-01T04:00:00+01:00
...,...,...,...,...,...,...
19578,1293,Demanda real,NaN,NaN,31699.333333,2025-03-27T19:00:00+01:00
19579,1293,Demanda real,NaN,NaN,34057.666667,2025-03-27T20:00:00+01:00
19580,1293,Demanda real,NaN,NaN,33419.916667,2025-03-27T21:00:00+01:00
19581,1293,Demanda real,NaN,NaN,30213.250000,2025-03-27T22:00:00+01:00
19582,1293,Demanda real,NaN,NaN,27465.083333,2025-03-27T23:00:00+01:00